.hero {
  padding-top: 60px;
  flex-direction: column;
  align-items: center;
  height: 70vh;
}

.about-me {
  padding-top: 20px;
  padding-bottom: 50px;
}

.about-me .description {
  padding-top: 20px;
}

.achievements .cards {
  padding-top: 30px;
}

.contact-us {
  flex-direction: column;
  align-items: center;
  padding: 100px;
}
